<form novalidate [formGroup]="form" (ngSubmit)="submit()">

  <!-- OUR AREA OF INTEREST -->
  <ng-container *ngIf="formStatus">

    <div *ngIf="formStatus.canShowErrors()" class="alert alert-danger" role="alert">
      <div><strong>Oops!</strong></div>
      <div *ngFor="let error of formStatus.errors">{{ error }}</div>
    </div>

    <div *ngIf="formStatus.canShowSuccess()" class="alert alert-success" role="alert">
      <div><strong>Success!</strong></div>
      <div *ngFor="let message of formStatus.messages">{{ message }}</div>
    </div>

  </ng-container>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su nombre</mat-label>
    <input matInput placeholder="Jhon Doe" formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su apellido</mat-label>
    <input matInput placeholder="Jhon Doe" formControlName="lastname" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su identificacion</mat-label>
    <input matInput placeholder="xxxx" formControlName="identification_number" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Escoja su eps</mat-label>
    <mat-select formControlName="eps_id">
      <mat-option *ngFor="let ep of eps" [value]="ep.id">
        {{ep.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Escoja su sintoma</mat-label>
    <mat-select formControlName="symptom_id">
      <mat-option *ngFor="let symptom of symptoms" [value]="symptom.id">
        {{symptom.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su glucosa</mat-label>
    <input matInput placeholder="xxxx" formControlName="blood_glucose_results" type="number">
  </mat-form-field>

  <button type="submit"
          [class.btn-pulse]="formStatus.submitted"
          [disabled]="!form?.valid || formStatus.submitted">
    Save
  </button>
</form>

