<form novalidate [formGroup]="form" (ngSubmit)="submit()">

  <!-- OUR AREA OF INTEREST -->
  <ng-container *ngIf="formStatus">

    <div *ngIf="formStatus.canShowErrors()" class="alert alert-danger" role="alert">
      <div><strong>Oops!</strong></div>
      <div *ngFor="let error of formStatus.errors">{{ error }}</div>
    </div>

    <div *ngIf="formStatus.canShowSuccess()" class="alert alert-success" role="alert">
      <div><strong>Success!</strong></div>
      <div *ngFor="let message of formStatus.messages">{{ message }}</div>
    </div>

  </ng-container>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su nombre</mat-label>
    <input matInput placeholder="Jhon Doe" formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su apellido</mat-label>
    <input matInput placeholder="Jhon Doe" formControlName="lastname" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su email</mat-label>
    <input matInput placeholder="xxxx" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Escoja su genero</mat-label>
    <mat-select formControlName="gender_id">
      <mat-option *ngFor="let gender of genders?.data?.gender" [value]="gender.id">
        {{gender.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Escoja su edad</mat-label>
    <input matInput placeholder="xxxx" formControlName="age" required>
    <mat-select formControlName="unit_time">
      <mat-option value="1">
        meses
      </mat-option>
      <mat-option value="2">
        años
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su hemoglobina</mat-label>
    <input matInput placeholder="xxxx" formControlName="hemoglobin_level" type="number">
  </mat-form-field>

  <button type="submit"
          [class.btn-pulse]="formStatus.submitted"
          [disabled]="!form?.valid || formStatus.submitted">
    Save
  </button>
</form>

